{
  "presets": ["@babel/preset-react", ["@babel/preset-env", {"targets": {"node": "current"}}]],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      },
      "lodash"
    ]
  ]
}
