<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <title><%- title %></title>
  <meta name="description" content="<%- description %>" />
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  <script>
    window.__INITIAL_STATE__ = <%- stores %>;
  </script>
</head>

<body>
<div id="app"><%- root %></div>
<script type="text/javascript" src="/static/vendors.js"></script><script type="text/javascript" src="/static/app.js"></script></body>

</html>